@font-face {
font-family: TitleFont;
src: url("../assets/fonts/DancingScript/DancingScript-Bold.ttf");
}

ion-title {
  font-family: 'TitleFont';

}

.toolbar-title .toolbar-title-md {
  color: '#ffffff';
}

page-home {

  .homeImage {
    width: 100vw;
    margin: 10px 0 20px 0;
  }

  .homeTitle {
    padding: 10px 0 0 10px;
  }

}
